# 忽略所有文件，注意放在开头
/*

# 示例
# 除src文件夹外
# !/src
# 除bin文件夹外
# !/bin 
# 总的效果就是git只跟踪src和bin两个文件夹

!.vimrc
!.indexer_files
!.clang-format
!.ycm_extra_conf.py
!.mysnippets/
!README.md

# 这是工程项目的示例,里面有test/CMakeLists.txt和test/.ycm_extra_conf.py, 供参考
!/test/

!gh-md-toc
!.gitignore

# 用于拷贝cmakelists.txt等
!.mycp.sh
